<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/jonat/Simplilearn/medicare"><classes><class name="com.ryzeon.medicare.BrowserTest"><methods><include name="BrowserAutomation"/></methods></class><class name="com.ryzeon.medicare.MedicareApplicationTests"><methods><include name="contextLoads"/></methods></class></classes></test></suite>